// _variables.scss
// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

$background-color-primary: #064848;
$background-color-secondary: #d8efed;
$background-color-primary-light: #235d5d;

$color-primary: #99b2ae;
$color-secondary: #404545;

$default-black: #000000;
$default-white: #ffffff;
