// _variables.scss
// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;

$background-color-primary: #064848;
$background-color-secondary: #d8efed;

$color-primary: #99b2ae;
$color-secondary: #404545;
